/* Normal styles for the modal */
#modal {

	margin: 0 auto;
	opacity: 0;
	visibility: hidden;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
	/* Make the modal appear when targeted */
	#modal:target {
		opacity: 1;
		/*top:45%;*/
		visibility: visible;
	}
#modal .header,#modal .footer {
	border-bottom: 1px solid #e7e7e7;
}
	#modal .footer {
		border:none;
		border-top: 1px solid #e7e7e7;
		clear: both;
	}

	#modal .header {
		margin: 0 auto;
		font-size: 15px;
	}
#modal h2 {
	margin:0;
	background: #fff;
	border: none;

}
#modal .btn {
	float:right;
}
#modal .copy,#modal .header, #modal .footer {
	padding:10px;
}
.modal-content {
	background: #f7f7f7;
	position: relative;
	z-index: 99;
}
#modal .copy {
	background: #fff;
}
#modal ul {
	list-style: circle inside;
}

#modal .overlay {
	background-color: #000;
	background: rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 88;

}

#modal .content{
	float: left;
    margin-left: 20px;
    width: 79px;
}
#modal .container{
	min-height:130px;
	max-height: 800px;
	margin-top:10px;
}

.modal1{
	position: fixed;
	display:table;
	width: 100%;
	z-index: 999;
	
}
.modal-content1{
    background: none repeat scroll 0 0 white;
    height: auto;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    width: 318px;
    z-index: 9999;
    margin-top: 10%;
}