@charset "shift_jis";

/***************
* default
******************************/

body {
	background-image: url(../images2/seeing_back.gif);
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #333333;
	line-height: 160%;
	text-align: center;
}

a:link {
	color: #b43232;
	text-decoration: none;
}

a:visited {
	color: #b43232;
	text-decoration: none;
}

a:hover {
	color: #b43232;
	text-decoration: underline;
}

a:active {
	color: #ff0000;
	text-decoration: none;
}

img {
	border: 0;
	vertical-align: bottom;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	display: none;
}

h2,h3,h4 {
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

object,
object {
	vertical-align: bottom;
	margin: 0;
}

/* blog link >>> */
.bottom_area{
	font-family: "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "ƒƒCƒŠƒI", Meiryo, Osaka, "‚l‚r ‚oƒSƒVƒbƒN", "MS PGothic", sans-serif;
	margin: 15px auto 0;
}
.bottom_area a{
	text-decoration: none;
}
.btn_link_blog{
	display: inline-block;
	width: 200px;
	color: #fff !important;
	background: #f25a42;
	background: -webkit-linear-gradient(#f25a42, #df361b);
	background: -o-linear-gradient(#f25a42, #df361b);
	background: -moz-linear-gradient(#f25a42, #df361b);
	background: linear-gradient(#f25a42, #df361b);
	border: solid 1px #fff;
	padding: 8px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-shadow: -1px -1px 1px rgba(255,255,255,0.2);
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
	transition: all 0.2s linear;
	float: left;
}
.btn_link_blog:hover{
	background: #f86c56;
	background: -webkit-linear-gradient(#f86c56, #e7452b);
	background: -o-linear-gradient(#f86c56, #e7452b);
	background: -moz-linear-gradient(#f86c56, #e7452b);
	background: linear-gradient(#f86c56, #e7452b);
}