@charset "Shift_JIS";

/*	Payment
---------------------------------------*/
#payment .message div
{
	margin:10px;
	padding:15px;
	color:red;
	background:#f9e8eb;
	border:1px solid #ccc;
}
#payment h2
{
	margin-bottom:10px;
}

#payment #linkArea
{
	padding:0 10px 10px;
	margin-bottom:10px;
}
#payment #menu
{
	padding:0 10px;
	text-align:right;
}
#payment #MainBlock form
{
	padding:0 10px 30px;
	text-align:center;
}
#payment h3
{
	background:#666;
	color:#fff;
	font-size:120%;
	text-indent:0.5em;
	text-align:left;
	line-height:1.8;
	margin-bottom:12px;
	letter-spacing:1px;
}
#payment h4
{
	font-weight:normal;
}

#payment form p
{
	text-align:left;
	padding:10px;
	background:#f3f3f3;
	border:1px solid #ccc;
	margin-bottom:20px;
}
#payment form p span
{
	color:#d50242;
	font-weight:bold;
}
#payment form table
{
	margin:0 auto 20px;
}

/* Payment form
---------------------------*/
#payment form th,
#payment form td
{
	padding:10px 5px;
}
#payment form td
{
	vertical-align:top;
}

#payment table th
{
	text-align:center;
	background:#d5e9ba;
	font-weight:normal;
}

#payment table td input#tel{width:200px;}
#payment table td input#handy{width:300px;}
#payment table td input#mail{width:300px;}
#payment table td input#zip{width:200px;}
#payment table td input#address{width:500px;}


#payment .pointInformation
{
	border-collapse:collapse;
	border-top:1px solid #547626;
	border-left:1px solid #547626;
	width:550px;
}
#payment .pointInformation td,
#payment .pointInformation th
{
	border-right:1px solid #547626;
	border-bottom:1px solid #547626;
}
#payment .pointInformation th.definition
{
	background:#a9ca7c;
}
#payment .pointInformation td
{
	text-align:right;
}
#payment form td table
{
	margin:0;
}
#payment form td table td
{
	padding:0;
}
#payment form td.style13
{
	background:#fcf8a5;
}

#payment form td table td span.style12
{
	font-weight:bold;
	font-size:14px;
}
#payment form td table td span.style12 a
{
	text-decoration:underline;
}

#payment form td table td .style11
{
	color:red;
}
#payment table#calendar
{
	background:#70973b;
}
#payment table#calendar th
{
	background:#70973b;
	color:#fff;
}
#payment table.access
{
	background:#70973b;
}


/* Payment Pager
---------------------------*/
.pager
{
	padding:15px;
	text-align:center;
}
.pager span
{
	border:1px solid #ccc;
	padding:1px 4px;
}
.pager a
{
	border:1px solid #ccc;
	background:#efefef;
	padding:1px 4px;
}
/* pay_ebank
----------------------------*/
#pay_ebank dl
{
	width:560px;
	margin:20px auto;
	border:0;
	background:transparent;
}
#pay_ebank dt
{
	width:122px;
	float:left;
}
#pay_ebank dd
{
	width:428px;
	float:right;
}
/* attention
----------------------------*/
#attention
{
	text-align:left;
	border:1px solid #ccc;
	background:#f3f3f3;
	padding:10px;
	margin-bottom:20px;
}
#attention dt
{
	font-weight:bold;
	margin-bottom:4px;
}
#attention dd
{
	padding-left:1em;
	margin-bottom:2em;
}
/* announcement
----------------------------*/
#payment div .announcement1
{
	float: left;
	width: 55%;
	text-align:left;
}
#payment div .announcement2
{
	background:#f3f3f3;
	border:1px solid #ccc;
	margin-left: 55%;
	height:36px;
	text-align:center;
}


#payment .history-data-table {
	margin-top: 15px;
	width: 80%
}

#payment .history-data-line1{
	width: 139px;
	*width: 129px;
}
#payment .history-data-line2{
	width: 139px;
	*width: 129px;
}
#payment .history-data-line3{
	width: 139px;
	*width: 129px;
}
#payment .history-data-line4{
	width: 139px;
	*width: 129px;
}
#payment .history-data-line5{
	width: 139px;
	*width: 129px;
}

#payment .history-data-table th {
	background-color: #989898;
	text-align: center;
	font-weight: normal;
	border: 1px solid #CCCCCC;
	padding: 5px 0 5px 0;
	background-color: #E3E3E3;
}

#payment .history-data-table td {
	border: 1px solid #CCCCCC;
	padding: 5px 0 5px 10px;
}

#payment #history-use{
	margin-top: 20px;
}
#Payment #history-use2{
	margin-top: 10px;
}

#Payment .history-data-table table {
	border-collapse: collapse;
}

#payment .history-data-table2 {
	margin-top: 10px;
}

#payment .history-data-line12{
	width: 190px;
	*width: 180px;
}
#payment .history-data-line22{
	width: 300px;
	*width: 290px;
}
#payment .history-data-line32{
	width: 200px;
	*width: 190px;
}
#payment .history-data-line4{
	width: 139px;
	*width: 129px;
}
#payment .history-data-line5{
	width: 139px;
	*width: 129px;
}

#payment .history-data-table2 th {
	background-color: #989898;
	text-align: center;
	font-weight: normal;
	border: 1px solid #CCCCCC;
	padding: 3px 0 3px 0;
	background-color: #E3E3E3;
}

#payment .history-data-table2 td {
	border: 1px solid #CCCCCC;
	padding: 5px 0 5px 10px;
}

#payment #history-use{
	margin-top: 20px;
}

#payment .history-data-table2 table {
	border-collapse: collapse;
}