@charset "Shift_JIS";

.size_12{font-size:12px;}
.size_14{font-size:14px;}
.size_16{font-size:16px;}
.size_18{font-size:18px;}
.size_20{font-size:20px;}
.size_21{font-size:21px;}
.size_25{font-size:25px;}



.black{color:#000000;}
.red{color:#ff0000;}
.green{color:#009900;}
.momo{color:#FF3366;}
.magenta{color:#FF00FF;}
.blue{color:#0000ff;}
.orange{color:#ff4500;}
.gray{color:#696969;}
.deepgreen{color:#008844;}
.deeppink{color:#ff1493;}
.deepblue{color:#00008b;}
.aquamarine{color:#20b2aa;}
.royal_blue{color:#4169e1;}
.yamabuki{color:#ffa500;}
.saddlebrown {color:#8b4513;}
.yellow {color:#ffff00;}
.lime {color:#00ff00;}
.pinkpurple {color:#db7093;}


weight{
	font-weight:bold;
}


.black_b{color:#000000;font-weight:bold;}
.red_b{color:#ff0000;font-weight:bold;}
.green_b{color:#009900;font-weight:bold;}
.momo_b{color:#FF3366;font-weight:bold;}
.magenta_b{color:#FF00FF;font-weight:bold;}
.blue_b{color:#0000ff;font-weight:bold;}
.orange_b{color:#ff4500;font-weight:bold;}
.gray_b{color:#696969;font-weight:bold;}
.deepgreen_b{color:#008844;font-weight:bold;}
.deeppink_b{color:#ff1493;font-weight:bold;}
.deepblue_b{color:#00008b;font-weight:bold;}
.aquamarine_b{color:#20b2aa;font-weight:bold;}
.royal_blue_b{color:#4169e1;font-weight:bold;}
.yamabuki_b{color:#ffa500;font-weight:bold;}
.saddlebrown_b{color:#8b4513;font-weight:bold;}
.yellow_b{color:#ffff00;font-weight:bold;}
.lime_b{color:#00ff00;font-weight:bold;}
.pinkpurple_b{color:#db7093;font-weight:bold;}



.black_b12{color:#000000;font-weight:bold;font-size:12px;}
.red_b12{color:#ff0000;font-weight:bold;font-size:12px;}
.green_b12{color:#009900;font-weight:bold;font-size:12px;}
.momo_b12{color:#FF3366;font-weight:bold;font-size:12px;}
.magenta_b12{color:#FF00FF;font-weight:bold;font-size:12px;}
.blue_b12{color:#0000ff;font-weight:bold;font-size:12px;}
.orange_b12{color:#ff4500;font-weight:bold;font-size:12px;}
.gray_b12{color:#696969;font-weight:bold;font-size:12px;}
.deepgreen_b12{color:#008844;font-weight:bold;font-size:12px;}
.deeppink_b12{color:#ff1493;font-weight:bold;font-size:12px;}
.deepblue_b12{color:#00008b;font-weight:bold;font-size:12px;}
.aquamarine_b12{color:#20b2aa;font-weight:bold;font-size:12px;}
.royal_blue_b12{color:#4169e1;font-weight:bold;font-size:12px;}
.yamabuki_b12{color:#ffa500;font-weight:bold;font-size:12px;}
.saddlebrown_b12{color:#8b4513;font-weight:bold;font-size:12px;}
.yellow_b12{color:#ffff00;font-weight:bold;font-size:12px;}
.lime_b12{color:#00ff00;font-weight:bold;font-size:12px;}
.pinkpurple_b12{color:#db7093;font-weight:bold;font-size:12px;}


.black_b14{color:#000000;font-weight:bold;font-size:14px;}
.red_b14{color:#ff0000;font-weight:bold;font-size:14px;}
.green_b14{color:#009900;font-weight:bold;font-size:14px;}
.momo_b14{color:#FF3366;font-weight:bold;font-size:14px;}
.magenta_b14{color:#FF00FF;font-weight:bold;font-size:14px;}
.blue_b14{color:#0000ff;font-weight:bold;font-size:14px;}
.orange_b14{color:#ff4500;font-weight:bold;font-size:14px;}
.gray_b14{color:#696969;font-weight:bold;font-size:14px;}
.deepgreen_b14{color:#008844;font-weight:bold;font-size:14px;}
.deeppink_b14{color:#ff1493;font-weight:bold;font-size:14px;}
.deepblue_b14{color:#00008b;font-weight:bold;font-size:14px;}
.aquamarine_b14{color:#20b2aa;font-weight:bold;font-size:14px;}
.royal_b14lue_b14{color:#4169e1;font-weight:bold;font-size:14px;}
.yamabuki_b14{color:#ffa500;font-weight:bold;font-size:14px;}
.saddlebrown_b14{color:#8b4513;font-weight:bold;font-size:14px;}
.yellow_b14{color:#ffff00;font-weight:bold;font-size:14px;}
.lime_b14{color:#00ff00;font-weight:bold;font-size:14px;}
.pinkpurple_b14{color:#db7093;font-weight:bold;font-size:14px;}


.black_b16{color:#000000;font-weight:bold;font-size:16px;}
.red_b16{color:#ff0000;font-weight:bold;font-size:16px;}
.green_b16{color:#009900;font-weight:bold;font-size:16px;}
.momo_b16{color:#FF3366;font-weight:bold;font-size:16px;}
.magenta_b16{color:#FF00FF;font-weight:bold;font-size:16px;}
.blue_b16{color:#0000ff;font-weight:bold;font-size:16px;}
.orange_b16{color:#ff4500;font-weight:bold;font-size:16px;}
.gray_b16{color:#696969;font-weight:bold;font-size:16px;}
.deepgreen_b16{color:#008844;font-weight:bold;font-size:16px;}
.deeppink_b16{color:#ff1493;font-weight:bold;font-size:16px;}
.deepblue_b16{color:#00008b;font-weight:bold;font-size:16px;}
.aquamarine_b16{color:#20b2aa;font-weight:bold;font-size:16px;}
.royal_b16lue_b16{color:#4169e1;font-weight:bold;font-size:16px;}
.yamabuki_b16{color:#ffa500;font-weight:bold;font-size:16px;}
.saddlebrown_b16{color:#8b4513;font-weight:bold;font-size:16px;}
.yellow_b16{color:#ffff00;font-weight:bold;font-size:16px;}
.lime_b16{color:#00ff00;font-weight:bold;font-size:16px;}
.pinkpurple_b16{color:#db7093;font-weight:bold;font-size:16px;}


.black_b18{color:#000000;font-weight:bold;font-size:18px;}
.red_b18{color:#ff0000;font-weight:bold;font-size:18px;}
.green_b18{color:#009900;font-weight:bold;font-size:18px;}
.momo_b18{color:#FF3366;font-weight:bold;font-size:18px;}
.magenta_b18{color:#FF00FF;font-weight:bold;font-size:18px;}
.blue_b18{color:#0000ff;font-weight:bold;font-size:18px;}
.orange_b18{color:#ff4500;font-weight:bold;font-size:18px;}
.gray_b18{color:#696969;font-weight:bold;font-size:18px;}
.deepgreen_b18{color:#008844;font-weight:bold;font-size:18px;}
.deeppink_b18{color:#ff1493;font-weight:bold;font-size:18px;}
.deepblue_b18{color:#00008b;font-weight:bold;font-size:18px;}
.aquamarine_b18{color:#20b2aa;font-weight:bold;font-size:18px;}
.royal_b18lue_b18{color:#4169e1;font-weight:bold;font-size:18px;}
.yamabuki_b18{color:#ffa500;font-weight:bold;font-size:18px;}
.saddlebrown_b18{color:#8b4513;font-weight:bold;font-size:18px;}
.yellow_b18{color:#ffff00;font-weight:bold;font-size:18px;}
.lime_b18{color:#00ff00;font-weight:bold;font-size:18px;}
.pinkpurple_b18{color:#db7093;font-weight:bold;font-size:18px;}

.black_b20{color:#000000;font-weight:bold;font-size:20px;}
.red_b20{color:#ff0000;font-weight:bold;font-size:20px;}
.green_b20{color:#009900;font-weight:bold;font-size:20px;}
.momo_b20{color:#FF3366;font-weight:bold;font-size:20px;}
.magenta_b20{color:#FF00FF;font-weight:bold;font-size:20px;}
.blue_b20{color:#0000ff;font-weight:bold;font-size:20px;}
.orange_b20{color:#ff4500;font-weight:bold;font-size:20px;}
.gray_b20{color:#696969;font-weight:bold;font-size:20px;}
.deepgreen_b20{color:#008844;font-weight:bold;font-size:20px;}
.deeppink_b20{color:#ff1493;font-weight:bold;font-size:20px;}
.deepblue_b20{color:#00008b;font-weight:bold;font-size:20px;}
.aquamarine_b20{color:#20b2aa;font-weight:bold;font-size:20px;}
.royal_b20lue_b20{color:#4169e1;font-weight:bold;font-size:20px;}
.yamabuki_b20{color:#ffa500;font-weight:bold;font-size:20px;}
.saddlebrown_b20{color:#8b4513;font-weight:bold;font-size:20px;}
.yellow_b20{color:#ffff00;font-weight:bold;font-size:20px;}
.lime_b20{color:#00ff00;font-weight:bold;font-size:20px;}
.pinkpurple_b20{color:#db7093;font-weight:bold;font-size:20px;}


.black_b21{color:#000000;font-weight:bold;font-size:21px;}
.red_b21{color:#ff0000;font-weight:bold;font-size:21px;}
.green_b21{color:#009900;font-weight:bold;font-size:21px;}
.momo_b21{color:#FF3366;font-weight:bold;font-size:21px;}
.magenta_b21{color:#FF00FF;font-weight:bold;font-size:21px;}
.blue_b21{color:#0000ff;font-weight:bold;font-size:21px;}
.orange_b21{color:#ff4500;font-weight:bold;font-size:21px;}
.gray_b21{color:#696969;font-weight:bold;font-size:21px;}
.deepgreen_b21{color:#008844;font-weight:bold;font-size:21px;}
.deeppink_b21{color:#ff1493;font-weight:bold;font-size:21px;}
.deepblue_b21{color:#00008b;font-weight:bold;font-size:21px;}
.aquamarine_b21{color:#20b2aa;font-weight:bold;font-size:21px;}
.royal_b21lue_b21{color:#4169e1;font-weight:bold;font-size:21px;}
.yamabuki_b21{color:#ffa500;font-weight:bold;font-size:21px;}
.saddlebrown_b21{color:#8b4513;font-weight:bold;font-size:21px;}
.yellow_b21{color:#ffff00;font-weight:bold;font-size:21px;}
.lime_b21{color:#00ff00;font-weight:bold;font-size:21px;}
.pinkpurple_b21{color:#db7093;font-weight:bold;font-size:21px;}


.margin10{
margin:10px;
}
.margin_tb10{margin-top:10px;}
.margin_b10{margin-bottom:10px;}

.margin15{margin:15px;}
.margin_tb15{margin-top:15px;}
.margin_b15{margin-bottom:15px;}