a:link		{text-decoration:underline;	color:#0000ff;}
a:visited	{text-decoration:underline;	color:#008080;}
a:hover		{color:#ff0000;}
a:active	{color:#ff0000;}

.basis	{font-size: 12px;	font-family:"‚l‚r ‚oƒSƒVƒbƒN";}
.big	{	font-weight: bold;	font-size:	18px;}
.css0	{	font-weight: bold;	}
.css1	{	font-weight: bold;
			color: #ff0000;	}
.css2	{	color: #ff0000;	}
.css3	{	font-weight: bold;	color: #0000FF;	}
.css4	{	color: #0000FF;	}
.css5	{	font-weight: bold;	color: #FF3366;	}
.style2	{	color:#00FFFF;	}