
/****************
* header‰º@‚±‚±‚©‚ç
********************************/

#title{
	width: 828px;
	height: 100%;
	margin: 0 auto;
	padding-top: 15px;
}

#title_gazou{
    position:relative;
	width: 828px;
	height: 26px;
	top: 0px;
	left: 0;
	background-image: url(/performer/images/schedule_calendar/title-bg-ive_sche.png);
	vertical-align:bottom;
}

.ivent_schedule-title{
    position:absolute;
	top: 1px;
	left: 0;
	width: 370px;
	height: 21px;
	text-align: left;
	padding: 0;
	clear:both
}

#y_m{
	width: 828px;
	height: 100%;
	margin: 0 auto;
	padding-top: 15px;
}

#year_month{
    position:relative;
	width: 828px;
	height: 30px;
	top: 0px;
	left: 0;
	margin : 0 auto;
	text-align : center;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	color: #444444;
}

.back{
    position:absolute;
	top: 14px;
	left: 0px;
	width: 100px;
	font-size:12pt;
	text-align: left;
	padding: 0;
	clear:both
}

.icon_back{
	width: 68px;
	height: 18px;
    padding: 0;
    background: url(/performer/images/schedule_calendar/icon_back.png) left top no-repeat;
	vertical-align:bottom;
	text-align: left;
}

.back_text{
    padding: 0 0 0 20px;
	text-align: left;
	
}

.force_text{
    padding: 0 20px 0 0;
	text-align: right;
}

.icon_force{
	width: 68px;
	height: 18px;
    padding: 0;
    background: url(/performer/images/schedule_calendar/icon_force.png) left top no-repeat;
	vertical-align:bottom;
	text-align: right;
}

.force{
    position:absolute;
	top: 14px;
	right: 0px;
	width: 70px;
	font-size:12pt;
	text-align: right;
	padding: 0;
	clear:both
}

.y_and_m{
    position:absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 30px;
	font-size:21pt;
	text-align: center;
	padding: 0;
	font-weight: bold;
	margin: 0 auto;
	clear:both
}


#title_bot{
	width: 828px;
	height: 100%;
	margin: 0 auto;
	padding-top: 15px;
}

#title_bottom{
    position:relative;
	width: 828px;
	height: 40px;
	top: 0px;
	left: 0px;
}

.pulldown_list {  
    width: 239px;
	height: 20px;
    margin-bottom: 2px;
	margin-right: 0px;
}

.title_bottom-classification_color{
    position:absolute;
	top: 3px;
	right: 1px;
	width: 236px;
	height: 40px;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:10pt;
	color:#000000;
	text-align: left;
	padding: 0;
	clear:both
}

/****************
* header‰º@‚±‚±‚Ü‚Å
********************************/

/****************
* ƒJƒŒƒ“ƒ_[ƒGƒŠƒA@‚±‚±‚©‚ç
********************************/


#calender_area {
	width: 829px;
	height: 100%;
	margin: 0 auto;
	padding-top: 25px;
}

#calender_area-week {
	width: 829px;
	height: 100%;
	margin: 0 auto;
	padding-top: 0px;
}

.week{
	width: 114px;
	height: 20px;
	margin: 0 auto;
	padding: 0 1px 0 0;
}

.sunday{
	width: 114px;
	height: 20px;
	margin: 0 auto;
	padding: 0;
}

#day_area {
	width: 828px;
	margin: 0 auto;
	padding-top: 10px;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:8pt;
}

#day_area-1 {
	width: 833px;
	height: auto;
	margin: 0 auto;
	padding-top: 0px;
	overflow: hidden;
	position: relative;
}

#day_area-2 {
	width: 833px;
	height: auto;
	margin: 10px auto 0px auto;
	padding-top: 0px;
	overflow: hidden;
	position: relative;
}

#day_area-3 {
	width: 833px;
	height: auto;
	margin: 10px auto 0px auto;
	padding-top: 0px;
	overflow: hidden;
	position: relative;
}

#day_area-4 {
	width: 833px;
	height: auto;
	margin: 10px auto 0px auto;
	padding-top: 0px;
	overflow: hidden;
	position: relative;
}

#day_area-5 {
	width: 833px;
	height: auto;
	margin: 10px auto 0px auto;
	padding-top: 0px;
	overflow: hidden;
	position: relative;
}

#day_area-6 {
	width: 833px;
	height: auto;
	margin: 10px auto 0px auto;
	padding-top: 0px;
	overflow: hidden;
	position: relative;
}

.no_day-img  {  
    width: 56px;  
	height: 32px;
    padding: 10px 0 0 10px;
}

ul{
margin: 0px auto;
padding: 0;
list-style-type: none;
text-decoration: none;
display: block;
}

li {
margin: 0;
padding: 0;
}

/*clear fix */

.clearfix:after { /*float‚Ì‰ğœA‚±‚±‚ªƒ|ƒCƒ“ƒg*/
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:".";
}
.clearfix {
	min-height: 1px; /*IE6A7‘Îô*/
}

* html .clearfix {
	height: 1px;
	/*\*//*/ /*MAC IE5.x‘Îô*/
	height: auto;
	overflow: hidden;
	/**/
}

/****************
* ƒ|ƒbƒvƒAƒbƒv@‚±‚±‚©‚ç
********************************/

a.link4:link {
	color: #000000
}
a.link4:visited {
	color: #000000;
	text-decoration: underline
}
a.link4:active {
	color: #999999;
}
a.link4:hover {
	color: #777777;
	text-decoration: underline
}

.days{
	width: 114px;
	margin-right: 0px;
	padding-right: 5px;
	float: left;
	display:inline;
	font-size:15pt;
	font-weight: bold;
	zoom:1;
	display:inline;
}

.daysdays{
	width: 114px;
	margin-right: 0px;
	padding-right: 5px;
	display:inline;
	font-size:15pt;
	font-weight: bold;
	zoom:1;
	display:inline;

}

.days-head {
    width: 114px;
	height: 28px;
	margin-bottom: 5px;
    background-color: #ffffff;
	border: 1px solid #cccccc;
}

.days-head_text {
	text-align: center;
	margin: 0 auto 0 18px;
}

.days-head-icon {
    width: 13px;  
    padding: 9px 5px 0 0;
	float: right;
	display:inline;
}

.days-head-iconicon {
    width: 13px;  
    padding: 9px 5px 0 0;
}

div.clear{
	clear: both;
	margin: 0 0 10px 0;
}

.days-bot {
    width: 112px;
	margin: 0 auto;
	padding: 0;
	font-size:15pt;
	font-weight: normal;
}

.days-bottom {
    width: 114px;
	height: 100%;
	margin-bottom: 5px;
	text-align: center;
	margin-left: 0;
	padding-left: 0;
}

li.days-bottom_macherie-bg {
    width: 114px;
	height: 36px;
    background-color: #d5e8d4;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:8pt;
	display:table-cell;
	vertical-align:middle;
	margin-left: 0;
	padding-left: 0;
}

li.days-bottom_variety-bg {  
    width: 114px;
	height: 36px;
    background-color: #f9ebab;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:8pt;
	display:table-cell;
	vertical-align:middle;
	margin-left: 0;
	padding-left: 0;
}

li.days-bottom_mysc-bg {  
    width: 114px;
	height: 36px;
    background-color: #c8e4ff;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:8pt;
	display:table-cell;
	vertical-align:middle;
}

ul.genre{
margin: 0px auto;
padding: 0 0 7px 0;
list-style-type: none;
text-decoration: none;
display: block;
}

.no_days {
	width: 112px;
	height: 198px;
    background-color: #f9f9f9;
	border: 1px solid #f0f0f0;
    margin-bottom: 0px;
	margin-right: 0px;
}

.no_days2 {
	width: 114px;
	height: 156px;
    background-color: #f9f9f9;
	border: 1px solid #f0f0f0;
    margin-bottom: 0px;
	margin-right: 5px;
}

a.linklink{
    color:0086FF;
    font-style:normal;
    text-decoration:underline;
}
a.linklink:link {
    color:0086FF;
    font-style:normal;
    text-decoration:underline;
}
a.linklink:visited {
    color:#319DFF;
    text-decoration:underline;
}
a.linklink:hover {
    color:#0800AD;
    font-style:normal;
    text-decoration:underline;
}
a.linklink:active {
    text-decoration:none;
}



}

.popup-variety-title_textarea {
    position:absolute;
	top: 47px;
	left: 20px;
	text-align: left;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:9pt;
	clear:both
}

.popup-variety-title_textarea_colon {
    position:absolute;
	top: 47px;
	left: 71px;
	text-align: left;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:9pt;
	clear:both
}

.popup-variety-title_textarea_time {
	width: 315px;
    position:absolute;
	top: 47px;
	left: 81px;
	text-align: left;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:9pt;
	clear:both
}

.popup-variety-title_comentarea {
    position:absolute;
	top: 72px;
	left: 20px;
	text-align: left;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:9pt;
	clear:both
}

.popup-variety-title_comentarea_colon {
    position:absolute;
	top: 72px;
	left: 71px;
	text-align: left;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:9pt;
	clear:both
}

.popup-variety-title_comentarea_time {
	width: 315px;
	height:180px;
    position:absolute;
	top: 72px;
	left: 81px;
	text-align: left;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:9pt;
	overflow-y:scroll;
	clear:both
}

.popup-variety-title_detailslink {
    position:absolute;
	bottom: 20px;
	left: 20px;
	text-align: left;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:9pt;
	clear:both
}

.popup-variety-title_closebt {
    position:absolute;
	bottom: 20px;
	left: 157px;
	text-align: left;
	clear:both
}

#day_area-001 {
	width: 828px;
	height: auto;
	margin: 0 auto;
	padding-top: 0px;
	overflow: hidden;
	position: relative;
	clear:both;
	zoom:1;
}

.days1-1{
	width: 114px;
	top: 0;
	left: 2px;
	position: absolute;
	margin: 0px;
	padding: 0px;
	font-size:15pt;
	font-weight: bold;
	clear:both;
	zoom:1;
}

.days1-2{
	width: 114px;
	top: 0;
	left: 121px;
	position: absolute;
	margin: 0px;
	padding: 0px;
	display:inline;
	font-size:15pt;
	font-weight: bold;
	clear:both;
	zoom:1;
}
.days1-3{
	width: 114px;
	top: 0;
	left: 239px;
	position: absolute;
	margin: 0px;
	padding: 0px;
	display:inline;
	font-size:15pt;
	font-weight: bold;
	clear:both;
	zoom:1;
}

.days1-4{
	width: 114px;
	top: 0;
	left: 358px;
	position: absolute;
	margin: 0px;
	padding: 0px;
	display:inline;
	font-size:15pt;
	font-weight: bold;
	clear:both;
	zoom:1;
}

.days1-5{
	width: 114px;
	top: 0;
	right: 238px;
	position: absolute;
	margin: 0px;
	padding: 0px;
	display:inline;
	font-size:15pt;
	font-weight: bold;
	clear:both;
	zoom:1;
}

.days1-6{
	width: 114px;
	top: 0;
	right: 120px;
	position: absolute;
	margin: 0px;
	padding: 0px;
	display:inline;
	font-size:15pt;
	font-weight: bold;
	clear:both;
	zoom:1;
}

.days1-7{
	width: 114px;
	top: 0;
	right: 2px;
	position: absolute;
	margin: 0px;
	padding: 0px;
	display:inline;
	font-size:15pt;
	font-weight: bold;
	clear:both;
	zoom:1;
}
















