<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" />
<title>マシェリ ルーム</title>
<link href="seeing.css" rel="stylesheet" type="text/css" />
<SCRIPT TYPE="text/javascript">
<!--

// -->
</SCRIPT> 
<SCRIPT TYPE="text/javascript">
</SCRIPT> 
</head>

<body>

<form name="F1" action="jenic_new_shicho.php" method="get">
	<br>
	<font color="blue">%err_msg%</font><br><br>
	<table>
		<tr>
			<td>
				オペレーターのユーザーＩＤ：<input type="text" name="female_user_id" size="30" maxlength="30" value="%female_user_id%">
			</td>
		</tr>
		<tr>
			<td>
				男性のユーザーＩＤ：<input type="text" name="user_id" size="30" maxlength="30" value="%user_id%">
			</td>
		</tr>
		<tr>
			<td>
				男性のパスワード：<input type="text" name="user_password" size="30" maxlength="30" value="%user_password%">
			</td>
		</tr>
		<tr>
			<td>
				<input type="radio" name="chat_mode" value="2" checked>閲覧モード　　<input type="radio" name="chat_mode" value="1">チャットモード
			</td>
		</tr>
	</table>
	
	<input type="submit" value="送信する">
	
</form>

</body>
</html>
