<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" />
<title>chat</title>
<SCRIPT TYPE="text/javascript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
window.onbeforeunload = function() {
	window.document.chat.SetVariable("cutConnection", "execute");
}
// -->
</SCRIPT>

</head>
<body bgcolor="#FFFFFF" background="images/bg.gif" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="780" height="560" id="chat" align="middle">
<param name="allowScriptAccess" value="sameDomain" />
<param name="allowFullScreen" value="false" />
<param name="movie" value="flash/jenic_party%swf_ver%.swf%param%" />
<param name="quality" value="high" /><param name="bgcolor" value="#3d0101" />
<embed src="flash/jenic_party%swf_ver%.swf%param%" quality="high" bgcolor="#3d0101" width="780" height="560" name="chat" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_jp" />
</object>
</td>
</tr>
</table>
</body>
</html>
