<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" />
<title>ライブチャットマシェリ %nick_name%ちゃんのお部屋</title>
<link href="seeing.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/chat/style/overlay_chat.css?" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("jquery", "1.7");</script>
<script type="text/javascript" src="/js/common.js"></script>
<SCRIPT TYPE="text/javascript">
var timer1_flag = 1;
<!--

function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}

function MM_Windowsize(size) {
  url = "shicho.php?id=%female_id%&world=%world%";
  location.href = url+size;
}

function func_rand() {
  url = "shicho.php?id=%female_id%&rand_id&world=%world%";
  location.href = url;
}
function func_back() {
  url = "shicho.php?id=%female_id%&back=%back_id%&world=%world%";
  location.href = url;
}

function disp_chat_shot(url){
	location.href = url;
}
function disp_chat_party(url){
	location.href = url;
}
function disp_chat_peep(url){
	location.href = url;
}

function fontSize(){
	var name = "MshichoF";
	var start = document.cookie.indexOf(name+"=");
	var len = start+name.length+1;
	var f_size = "";
	if ((!start) && (name != document.cookie.substring(0,name.length))) f_size = "normal";
	if (f_size == ""){
		if (start == -1) f_size = "normal";
	}
	if (f_size == ""){
		var end = document.cookie.indexOf(";",len);
		if (end == -1) end = document.cookie.length;
		f_size = document.cookie.substring(len,end);
	}
	if(f_size == "small"){
		//小
		document.getElementById('profile_small').style.fontSize='11px';
		document.getElementById('profile_small_R').style.fontSize='11px';
		document.getElementById('gap_s').src='images2/screen_small1.gif';
	}else if(f_size == "big"){
		//大
		document.getElementById('profile_small').style.fontSize='14px';
		document.getElementById('profile_small_R').style.fontSize='14px';
		document.getElementById('gap_b').src='images2/screen_big1.gif';
	}else{
		//中
		document.getElementById('profile_small').style.fontSize='12px';
		document.getElementById('profile_small_R').style.fontSize='12px';
		document.getElementById('gap_n').src='images2/screen_normal1.gif';
	}
}
window.onload = fontSize;
// -->
</SCRIPT> 
<SCRIPT TYPE="text/javascript">
<!--
window.onbeforeunload = function(e) {
	window.document.chat.SetVariable("cutConnection", "execute");
}
// -->
</SCRIPT> 
</head>

<body onContextmenu="return false">

<div id="container">

<div id="topmenu_small">
<ul>
<li><img src="images2/logo_s.gif" alt="Macherie.tv" id="gap" /></li>
<li style="width: 102px; height: 38px;">
<img src="images2/macherie_top_s.gif" border="0" onmouseover="this.src='images2/macherie_top_s_over.gif'" onmouseout="this.src='images2/macherie_top_s.gif'" alt="Macherie.tvトップページ" id="gap"
 onclick="window.open('../index.php', '_blank', 'menubar=yes,toolbar=yes,location=yes,scrollbars=yes,resizable=yes');" />
</li>
<li style="width: 104px; height: 38px;">
<img src="images2/new_member_s.gif" border="0" onmouseover="this.src='images2/new_member_over_s.gif'" onmouseout="this.src='images2/new_member_s.gif'" alt="新規会員登録" id="gap"
 onclick="window.open('../registration.php', '_blank', 'menubar=yes,toolbar=yes,location=yes,scrollbars=yes,resizable=yes');" />
</li>
<li style="width: 96px; height: 38px;">
<img src="images2/point_purchase_s.gif" border="0" onmouseover="this.src='images2/point_purchase_s_over.gif'" onmouseout="this.src='images2/point_purchase_s.gif'" alt="ポイント購入" id="gap"
 onclick="window.open('../settlement.php', '_blank', 'menubar=yes,toolbar=yes,location=yes,scrollbars=yes,resizable=yes');" />
</li>
<li style="width: 92px; height: 38px;">
<img src="images2/mymenu_s.gif" border="0" onmouseover="this.src='images2/mymenu_s_over.gif'" onmouseout="this.src='images2/mymenu_s.gif'" alt="マイメニュー" id="gap"
 onclick="window.open('../member.php', '_blank', 'menubar=yes,toolbar=yes,location=yes,scrollbars=yes,resizable=yes');" />
</li>
<li id="screen_s_size">
<div id="size1">
<ul>
<li><img src="images2/screen_small1.gif" alt="画面サイズ（小）" id="gap" /></li>
<li id="size_normal">
<img src="images2/screen_normal2.gif" border="0" onmouseover="this.src='images2/screen_normal1.gif'" onmouseout="this.src='images2/screen_normal2.gif'" alt="画面（中）" id="gap" onclick="MM_Windowsize('&normal')" />
</li>
<li id="size_big">
<img src="images2/screen_big2.gif" border="0" onmouseover="this.src='images2/screen_big1.gif'" onmouseout="this.src='images2/screen_big2.gif'" alt="画面サイズ（大）" id="gap" onclick="MM_Windowsize('&big')" />
</li>
</ul>
</div>
</li>
<li id="letter_s_size">
<div id="size2">
<ul>
<li>
<img src="images2/screen_small2.gif" border="0" alt="文字サイズ（小）" id="gap_s"
 onclick="document.getElementById('profile_small').style.fontSize='11px'; document.getElementById('profile_small_R').style.fontSize='11px';
 document.getElementById('gap_s').src='images2/screen_small1.gif'; document.getElementById('gap_n').src='images2/screen_normal2.gif'; document.getElementById('gap_b').src='images2/screen_big2.gif';
 var expires = 60000 * 60*60*24*1000; var today = new Date(); var expires_date = new Date( today.getTime() + (expires) ); document.cookie = 'MshichoF=small;expires=' + expires_date.toGMTString() + ';path=/';" />
</li>
<li id="size_normal">
<img src="images2/screen_normal2.gif" border="0" alt="文字サイズ（中）" id="gap_n"
 onclick="document.getElementById('profile_small').style.fontSize='12px'; document.getElementById('profile_small_R').style.fontSize='12px';
 document.getElementById('gap_s').src='images2/screen_small2.gif'; document.getElementById('gap_n').src='images2/screen_normal1.gif'; document.getElementById('gap_b').src='images2/screen_big2.gif';
 var expires = 60000 * 60*60*24*1000; var today = new Date(); var expires_date = new Date( today.getTime() + (expires) ); document.cookie = 'MshichoF=normal;expires=' + expires_date.toGMTString() + ';path=/';" />
</li>
<li id="size_big">
<img src="images2/screen_big2.gif" border="0" alt="文字サイズ（大）" id="gap_b"
 onclick="document.getElementById('profile_small').style.fontSize='14px'; document.getElementById('profile_small_R').style.fontSize='14px';
 document.getElementById('gap_s').src='images2/screen_small2.gif'; document.getElementById('gap_n').src='images2/screen_normal2.gif'; document.getElementById('gap_b').src='images2/screen_big1.gif';
 var expires = 60000 * 60*60*24*1000; var today = new Date(); var expires_date = new Date( today.getTime() + (expires) ); document.cookie = 'MshichoF=big;expires=' + expires_date.toGMTString() + ';path=/';" />
</li>
</ul>
</div>
</li>
<li>
<!-- tmpl:ifdef %back_id% -->
<img src="images2/come_back_small.gif" border="0" onmouseover="this.src='images2/come_back_small_over.gif'" onmouseout="this.src='images2/come_back_small.gif'" width="45" height="38" alt="前へ戻る" id="gap" onclick="func_back()" />
<!-- tmpl:endif -->
<!-- tmpl:ifdef %back_id_non% -->
<img src="images2/come_back_small.gif" border="0" width="45" height="38" id="gap" />
<!-- tmpl:endif -->
</li>
<li>
<img src="images2/advance_s_normal.gif" border="0" onmouseover="this.src='images2/advance_s_over.gif'" onmouseout="this.src='images2/advance_s_normal.gif'" width="43" height="38" alt="次へ" id="gap" onclick="func_rand()" />
</li>
</ul>
</div><!-- topmenu -->

<!-- main_space（上部ここから） -->
<div id="main_small_space">

<div id="screen_small_space">
<div id="screen_posi_small" class="screen_posi_add">
<!-- tmpl:ifdef %event_disp% -->
<img src="images2/mini.gif" id="IMG1" style="position:absolute; top:54px; width:148px; height:23px; z-index:1; margin-left:25px;">
<!-- tmpl:endif -->
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="532" height="362" id="chat" align="right">
  <param name="allowScriptAccess" value="sameDomain" />
  <param name="allowFullScreen" value="false" />
  <param name="movie" value="flash/shicho_small_%fcs_no%.swf%param%" />
  <param name="quality" value="high" />
  <param name="bgcolor" value="#781400" />
  <param name="wmode" value="opaque"/>
  <embed src="flash/shicho_small_%fcs_no%.swf%param%" wmode="opaque" quality="high" bgcolor="#781400" width="532" height="362" name="chat" align="right" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
</div><!-- screen_posi_small -->
</div><!-- screen_small_space -->

<div id="tab_space">
<div id="tab_small_posi">
<iframe name="tab_menu" src="gallery_main.php?id=%female_id%" width="329" height="378" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" id="tab_position">
</iframe>
</div><!-- tab_posi -->
</div><!-- tab_space -->

<!-- main_space（上部ここまで） -->

<!-- main_space（下部ここから） -->

<div id="low_small_space">

<div id="profile_small_space">
<div id="profile_small_title">
<img src="images2/profile_title_small.gif" alt="プロフィール" id="profile_small_title" />
</div><!-- profile_small_title -->

<div id="profile_small_main">
<!-- tmpl:ifdef %normal_disp% -->
<div id="pro_small_filed1">
<table width="151" border="0" cellpadding="0" cellspacing="0" id="profile_small" style="margin-top: 2px;">
  <tr>
    <td width="50" height="18" align="right"><span id="color_red">名 前：</span></td>
    <td>%nick_name%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">年 齢：</span></td>
    <td>%age%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">地 域：</span></td>
    <td>%area%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">身 長：</span></td>
    <td>%height%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">カップ：</span></td>
    <td>%cup%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">体 型：</span></td>
    <td>%type%</td>
  </tr>
</table>
</div><!-- pro_small_filed1 -->

<div id="pro_small_filed2">
<table width="171" border="0" cellpadding="0" cellspacing="0" id="profile_small_R" style="margin-top: 2px;">
  <tr>
    <td width="60" height="18" align="right"><span id="color_red">血液型：</span></td>
    <td>%blood_type%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">職 業：</span></td>
    <td>%job%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">マイク：</span></td>
    <td>%mic%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">出没時間：</span></td>
    <td>%appear_time%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">○○系：</span></td>
    <td>%category%</td>
  </tr>
</table>
</div><!-- pro_small_filed2 -->
<!-- tmpl:endif -->
<!-- tmpl:ifdef %world_disp% -->
<div id="pro_small_filed1">
<table width="151" border="0" cellpadding="0" cellspacing="0" id="profile_small" style="margin-top: 2px;">
  <tr>
    <td width="50" height="18" align="right"><span id="color_red">名 前：</span></td>
    <td>%nick_name%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">年 齢：</span></td>
    <td>%age%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">身 長：</span></td>
    <td>%height%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">カップ：</span></td>
    <td>%cup%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">日本語：</span></td>
    <td>%Japanese%</td>
  </tr>
  <tr>
    <td height="18" align="right"><span id="color_red">英 語：</span></td>
    <td>%english%</td>
  </tr>
</table>
</div><!-- pro_small_filed1 -->

<div id="pro_small_filed2">
<table width="171" border="0" cellpadding="0" cellspacing="0" id="profile_small_R" style="margin-top: 2px;">
  <tr>
    <td width="80" height="18" align="right"><span id="color_red">来日場所：</span></td>
    <td>%rainiti_area%</td>
  </tr>
  <tr>
    <td width="80" height="18" align="right"><span id="color_red">来日回数：</span></td>
    <td>%rainiti_num%</td>
  </tr>
  <tr>
    <td width="80" height="18" align="right"><span id="color_red">国 籍：</span></td>
    <td>%nationality%</td>
  </tr>
  <tr>
    <td width="80" height="18" align="right"><span id="color_red">フェイスタイプ：</span></td>
    <td>%face_type%</td>
  </tr>
  <tr>
    <td width="80" height="18" align="right"></td>
    <td></td>
  </tr>
</table>
</div><!-- pro_small_filed2 -->
<!-- tmpl:endif -->

</div><!-- profile_main -->
</div><!-- profile_space -->

<div id="comment_small_space">
<div id="comment_small_title">
<img src="images2/comment_small_title.gif" alt="コメント" id="comment_small_title" />
</div><!-- comment_title -->
<div id="comment_small_main">
<iframe name="tab_menu" src="comment_c.php?id=%female_id%" width="268" height="123" marginwidth="0" marginheight="0" frameborder="0" id="comment_small_position">
</iframe>
</div><!-- comment_small_main -->
</div><!-- comment_space -->

<div id="baner_small_space">
<div id="baner_small_title">
<img src="images2/pr_small_title.gif" alt="pr" id="gap" />
</div><!-- baner_small_title -->
<div id="baner_small_main">
<ul>
<!-- tmpl:ifdef %login% -->
<li><img src="images2/free_regi.gif" alt="無料登録" onclick="window.open('../registration.php', '_blank', 'menubar=yes,toolbar=yes,location=yes,scrollbars=yes,resizable=yes');" /></li>
<!-- tmpl:endif -->
<!-- tmpl:ifdef %not_login% -->
<!--
<li><a href="http://mens-revolution.co.jp/soushin_lp/soushin_m.html"><img src="/img/banner.gif" alt="【メンズレボリューション】冷却痩身Twinクライオ" title="【メンズレボリューション】冷却痩身Twinクライオ" width="102px" /></a></li>
-->
<!-- tmpl:endif -->
<li id="baner_small_tsutaya"><img src="images2/buy_point.gif" alt="macherie mobile" onclick="window.open('../settlement.php', '_blank', 'menubar=yes,toolbar=yes,location=yes,scrollbars=yes,resizable=yes');" /></li>
</ul>
</div><!-- baner_small_main -->
</div><!-- baner_small_space -->

</div><!-- low_small_space -->

<!-- main_space（下部ここまで） -->

</div><!-- main_space -->
<input type="hidden" id="f_hash" name="f_hash" value="%female_id%">
<input type="hidden" id="machiawase_flg" name="machiawase_flg" value="%machiawase%">
<input type="hidden" id="chat_mode" name="chat_mode" value="%chat_mode%">
<input type="hidden" id="stat" name="stat" value="%stat%">
<input type="hidden" id="screen_size" name="screen_size" value="%screen_size%">
<input type="hidden" id="m_overlay_duration" name="m_overlay_duration" value="%m_overlay_duration%">

</div><!-- container -->
<script type="text/javascript">
  var Timer1;
  var Timer2;
  var m_overlay_timer = $('#m_overlay_duration').val();  
  $(function(){	  	  
	  $(window).load(function(){
		  if($('#machiawase_flg').val() == 1) {			
			  $('#overlay_content').css('z-index', '13');			  
			  $('#screen_posi_small').prepend("<div id='overlay_content'></div>");
	      }
		  if($('#chat_mode').val() == 0 && $('#stat').val() != 2) {
    		  chat_waiting('screen_posi_small');
    		  Timer1 = setInterval("chat_waiting('screen_posi_small')",20000);
    		  Timer2 = setInterval("performer_video()", 1000);
		  } 	
	  });
  });
                        
</script>
</body>
</html>
