<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" />
<!-- link href="../css/tpl.css" rel="stylesheet" type="text/css"-->
<script language="JavaScript" src="../js/tpl.js"></script>
<title>shityo</title>
</head>
<SCRIPT TYPE="text/javascript">
<!--
function disp_chat_party(url){
	window.open(url, "mlparty", "width=780,height=560,scrollbars=no, toolbar=no");
	parent.window.close();
}
// -->
</SCRIPT> 

<body bgcolor="#FFFFFF" background="images/bg.gif" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<SCRIPT TYPE="text/javascript">
<!--
window.onbeforeunload = function() {
	window.document.chat.SetVariable("cutConnection", "execute");
}
// -->
</SCRIPT> 
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top">
		<!-- tmpl:ifdef %non_login% -->
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="700" height="500" id="chat" align="middle">
<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="shityo_non_login_%fcs_no%.swf%param%" />
<param name="quality" value="high" />
<param name="bgcolor" value="#ffffff" />
<embed src="shityo_non_login_%fcs_no%.swf%param%" quality="high" bgcolor="#ffffff" width="700" height="500" name="chat" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
		<!-- tmpl:endif -->
		<!-- tmpl:ifdef %login% -->
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="700" height="500" id="chat" align="middle">
<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="shityo_login_%fcs_no%.swf%param%" />
<param name="quality" value="high" />
<param name="bgcolor" value="#ffffff" />
<embed src="shityo_login_%fcs_no%.swf%param%" quality="high" bgcolor="#ffffff" width="700" height="500" name="chat" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
		<!-- tmpl:endif -->

</td>
	</tr>
</table>
</body>
</html>
