/****************
* 復책婁´책 ΠιⅷΖⅲ　桿슛　ㅃㅃㄻㅹ
********************************/

.popup-mysc_edit {
	padding: 0;
	background: url(/c/m/images/schedule_calendar/popup/my_edit_bg.png) no-repeat;
	width: 514px;
	height: 344px;
	position: absolute;
	display: none;
	z-index: 9999;
}

.popup-mysc_edit-title_bar {
	cursor: move;
	width: 514px;
	height: 38px;
    position:relative;
}

.popup-mysc_edit-title {
	cursor: move;
	width: 414px;
	height: 38px;
    position:relative;
}

.popup-mysc_edit-title_text {
    position:absolute;
	top: 13px;
	left: 17px;
	text-align: left;
	font-family:'αⅳκⅹ',Meiryo,'ΣιΞ넘Ⅴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ ＰⅤⅧΓ',sans-serif;
	font-size:12pt;
}

.popup-mysc_edit-title_day {
    position:absolute;
	top: 17px;
	right: 39px;
	text-align: right;
	font-family:'αⅳκⅹ',Meiryo,'ΣιΞ넘Ⅴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ ＰⅤⅧΓ',sans-serif;
	font-size:7pt;
}

.popup-mysc_edit-title_close {
	cursor: pointer;
    position:absolute;
	top: 13px;
	right: 13px;
}

.popup-mysc_edit-title_textarea {
    position:absolute;
	top: 50px;
	left: 20px;
	text-align: left;
	font-family:'αⅳκⅹ',Meiryo,'ΣιΞ넘Ⅴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ ＰⅤⅧΓ',sans-serif;
	font-size:9pt;
}

.popup-mysc_edit-title_textarea_colon {
    position:absolute;
	top: 50px;
	left: 71px;
	text-align: left;
	font-family:'αⅳκⅹ',Meiryo,'ΣιΞ넘Ⅴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ ＰⅤⅧΓ',sans-serif;
	font-size:9pt;
}

.popup-mysc_edit-title_textarea_time {
	width: 407px;
    position:absolute;
	top: 47px;
	left: 81px;
	text-align: left;
	font-family:'αⅳκⅹ',Meiryo,'ΣιΞ넘Ⅴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ ＰⅤⅧΓ',sans-serif;
	font-size:9pt;
}

.popup-mysc_edit-title_comentarea {
    position:absolute;
	top: 77px;
	left: 20px;
	text-align: left;
	font-family:'αⅳκⅹ',Meiryo,'ΣιΞ넘Ⅴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ ＰⅤⅧΓ',sans-serif;
	font-size:9pt;
}

.popup-mysc_edit-title_comentarea_colon {
    position:absolute;
	top: 77px;
	left: 71px;
	text-align: left;
	font-family:'αⅳκⅹ',Meiryo,'ΣιΞ넘Ⅴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ ＰⅤⅧΓ',sans-serif;
	font-size:9pt;
}

.popup-mysc_edit-title_comentarea_time {
	width: 407px;
	height:215px;
    position:absolute;
	top: 77px;
	left: 81px;
	text-align: left;
	font-family:'αⅳκⅹ',Meiryo,'ΣιΞ넘Ⅴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ ＰⅤⅧΓ',sans-serif;
	font-size:9pt;
}

.popup-mysc_edit-title_detailslink {
    position:absolute;
	bottom: 20px;
	left: 20px;
	text-align: left;
	font-family:'αⅳκⅹ',Meiryo,'ΣιΞ넘Ⅴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ ＰⅤⅧΓ',sans-serif;
	font-size:9pt;
}

.popup-mysc_edit-title_overwritebt {
    position:absolute;
	bottom: 12px;
	left: 92px;
	text-align: left;
}

.popup-mysc_edit-title_cancellbt {
    position:absolute;
	bottom: 12px;
	left: 207px;
	text-align: left;
}

.popup-mysc_edit-title_delbt {
    position:absolute;
	bottom: 12px;
	right: 36px;
	text-align: right;
}

input.edit_title {
	height: 20px;
	width: 398px;
	padding-left: 7px;
}

textarea.edit_text {
	height: 205px;
	width: 389px;
	max-height:205px;
	max-width:389px;

}









