<!DOCTYPE html>
<?xml version="1.0" encoding="utf-8" ?>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>【マシェリ】パフォーマ管理画面</title>
<meta name="keywords" content="ライブチャット,マシェリ,ビデオチャット,macherie,チャット,ちゃっと,chat">
<meta name="description" content="会員登録数30万人突破記念3000円分の無料体験はフリーメールでも使用可能。日テレジェニックの選抜や数多くのグラビアアイドル、お笑い芸人が多数出演し、TV放映されたことでも有名。なんといっても女性登録数日本一とは刺激的だ。">
<link rel="stylesheet" type="text/css" href="/sp/performer/css/html5reset.css" />
<link rel="stylesheet" type="text/css" href="/sp/performer/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/sp/performer/css/common.css" />
<link rel="stylesheet" type="text/css" href="/sp/performer/css/message.css" />
<link rel="stylesheet" type="text/css" href="/sp/performer/css/male_profile.css" />
<link rel="stylesheet" type="text/css" href="/sp/performer/css/font-awesome.min.css" />
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<body>
<div class="page_wrap page_wrap--message">
	%header%

	<div class="pagebody cf">
		<div class="pagebody_inner">

            <!--<div class="page_ttl_area cf">
                <h2 class="page_ttl">マイブログ一覧</h2>
            </div>-->

            <div class="message_header message_header--inbox">
                <div class="col_left">
                    <a href="./contact_list_edit.php">編集</a>
                </div>
                <div class="col_center">
                    <h3 class="icon icon--contact_list">連絡先</h3>
                    <div class="panel_menu" id="panel_menu">
	                    <ul>
	                        <li><a class="btn_message_list" href="./inbox.php">メールボックス</a></li>
	                        <li><a class="btn_contact_list" href="./contact_list.php">連絡先</a></li>
	                        <li><a class="btn_block_list" href="./block_list_edit.php">拒否リスト</a></li>
	                    </ul>
                	</div>
                </div>
                <div class="col_right">
                    <a href="#" class="switch_panel_menu" id="switch_panel_menu"><span></span></a>
                </div>
            </div>

            <!-- old version link -->
            <!--<a class="link_old_mailbox" href="#">旧メールボックスへ ></a>-->
            <!-- old version link -->
            
			<form action="contact_list.php" method="get" id='contact-form'>
            <div class="message_search_area d_table">
                <div class="d_cell">
                	<input type="hidden" name="v" value="%v%" id="view-tab"/>
                	<input type="text" placeholder="名前で検索..." name="q" value='%searchVal%'/>
                </div>
                <div class="d_cell">
                    <button class="ui_btn ui_btn--bg_gray">検索</button>
                </div>
            </div>
			</form>
			
            <div class="message_sort_menu cf" id="message_sort_menu">
                <ul>
                    <li class="all %all%"><a href="javascript:;">全て表示</a></li>
                    <li class="chat %chat%"><a href="javascript:;">チャット有</a></li>
                </ul>
            </div>

            <div class="message_list messege_list--contact cf">

				<!-- tmpl:ifdef %result% -->
                <div class="ui_msg_area ui_msg_area--not_exist">
                	<p class="msg">まだ連絡先に表示するユーザーがいません。</p>
                </div>
                 <!-- tmpl:endif -->
    
    			<!-- tmpl:loop %all_set% -->
                <div class="message_list_item list_item%contact_id%">
                    <div class="message_inner swipe_panel">
                        <div class="thumb">
                            %image%
                        </div>
                        <div class="message_data b_link">
                            <p class="user_name"><a href="./detail.php?id=%id%">%name%</a></p>
                        </div>
                    </div>
                    <div class="func_area hidden_panel">
                        <ul>
                            <li><span class="btn_blocklist func_block_contact_list_item" data-id=%contact_id%>拒否</span></li>
                        </ul>
                    </div>
                </div>
    			<!-- tmpl:endloop -->
    			
            </div><!-- // .message_list -->

            <div class="pager">
            	<!-- tmpl:ifdef %prev-href% -->
	        	<div class="cell--left">
	        		<a class='prev %prev-disable%' href='contact_list.php?page=%prev-href%'>前へ</a>
	        	</div>
	        	<!-- tmpl:endif -->
	        			<!-- tmpl:ifdef %nav% -->
	        				%nav%
	        			<!-- tmpl:endif -->
	        	<!-- tmpl:ifdef %next-href% -->
				<div class="cell--right">
	        		<a class='next %next-disable%' href='contact_list.php?page=%next-href%'>次へ</a>
	        	</div>
	        	<!-- tmpl:endif -->
            </div>

		</div><!-- // .pagebody_inner -->
	</div><!-- // .pagebody -->

	%footer%
</div><!-- ./page_wrap -->

<script type="text/javascript" src="/sp/performer/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/sp/performer/js/jquery.leanModal.min.js"></script>
<script type="text/javascript" src="/sp/performer/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="/sp/performer/js/jquery.biggerlink.js"></script>
<script type="text/javascript" src="/sp/performer/js/message.js"></script>
<script type="text/javascript">
$(function(){
	$('.b_link').biggerlink();

	// modal
	$('a[rel=leanModal]').leanModal();
	
	// swipe list
	$('.swipe_panel').swipe({
		swipeLeft: function(event, direction, distance, duration, fingerCount){
			$(this).animate({ marginLeft: '-10rem' }, 200);
		},
		swipeRight: function(event, direction, distance, duration, fingerCount){
			$(this).animate({ marginLeft: '0rem' }, 200);
		}
	});
	$('#message_sort_menu').find('a').click(function() {
		var view = ($(this).parent('li').hasClass('all'))? 'all': 'chat';
		$('#view-tab').val(view);
		$('#contact-form').submit();
	});
});
</script>
</body>
</html>