
/****
* V‹K–³—¿“o˜^
********************************/

.step1{
	width: 658px;
	text-align: center;
	margin:25px 0px 0px 0px;
}

.step2{
	width: 658px;
	text-align: center;
	margin:10px 0px 0px 0px;
}

#title_gazou2{
	width: 658px;
	text-align: center;
	margin: 20px 0px 5px 0px;
}

.mail_icon{
    padding: 0 0 0 20px;
    background: url(http://c.macherie.tv/c/m/images/renewimages/mail_icon.png) left top no-repeat;
	text-align: left;
	font-family : 'ƒƒCƒŠƒI', 'Verdana', 'Helvetica', 'Arial', '‚l‚r ‚oƒSƒVƒbƒN', 'MS P Gothic', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', 'Helvetica', 'Arial', 'Gothic', 'sans-serif';
	font-size: 10pt;
}

.mail_icon a{
color:#0031FF;
text-decoration:none;
}

.mail_icon a:hover{
color:#001D96;
text-decoration: none;
}

/*clear fix */

.clearfix:after { /*float‚Ì‰ğœA‚±‚±‚ªƒ|ƒCƒ“ƒg*/
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:".";
}
.clearfix {
	min-height: 1px; /*IE6A7‘Îô*/
}

* html .clearfix {
	height: 1px;
	/*\*//*/ /*MAC IE5.x‘Îô*/
	height: auto;
	overflow: hidden;
	/**/
}


/*****
* V‚µ‚­“o˜^‚·‚éƒ[ƒ‹ƒAƒhƒŒƒX
****************************/

#mail_henkou-tbl {
	width: 658px;
	height: 100%;
	margin-top: 5px;
	background-image: url(http://c.macherie.tv/c/m/images/renewimages/akauntojyouhou_blue_01.png);
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 13px;
}

#mail_henkou-tbl-btm {
	background-image: url(http://c.macherie.tv/c/m/images/renewimages/akauntojyouhou_blue_03.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	margin: 0;
	padding-bottom: 13px;
	width: 658px;
	height: 100%;
}

#mail_henkou-tbl-mdl {
	background-image: url(http://c.macherie.tv/c/m/images/renewimages/akauntojyouhou_blue_02.png);
	background-repeat: repeat-y;
	margin: 0 auto;
	width: 658px;
	height: 100%;
}

#mail_henkou{
	width:648px;
	margin:0px 0px 0px 0px;
	border-style:none;
	height: 100%;
}

#mail_henkou {
	display:inline-block;
	vertical-align: middle;
	height: 100%;
	margin:0px 0px 0px 0px;
}

#mail_henkou_left{
	width:140px;
	background-color:#ffffff;
	color:#ffffff;
	float:left;
	vertical-align: middle;
	height: 100%;
	margin:0px 0px 0px 0px;
}

#mail_henkou_center{
	width:450px;
	float:left;
	background-color:#ffffff;
	vertical-align: middle;
	height: 100%;
	margin:0px 0px 0px 0px;
}

#mail_henkou_right{
	width:58px;
	color:#ffffff;
	float:right;
	vertical-align: middle;
	height: 100%;
	margin:0px 0px 0px 0px;
}

input.hoge {
	width: 410px;
	height: 27	px;
	padding: 5px;
	margin-top: 2px;
}

/*****
* V‚µ‚­“o˜^‚·‚éƒ[ƒ‹ƒAƒhƒŒƒX@‚±‚±‚Ü‚Å
****************************/

#title001{
	width: 655px;
	height: 100%;
	margin: 25px 0 0 0;
	background-image: url(http://c.macherie.tv/c/m/images/renewimages/title_002.png);
	background-repeat: no-repeat;
	background-position: top;
	padding:0px 0px 5px 0px;
	text-align: left;
	color:#333333;
	font-weight: bold;
	line-height:170%;
	font-family : 'ƒƒCƒŠƒI', 'Verdana', 'Helvetica', 'Arial', '‚l‚r ‚oƒSƒVƒbƒN', 'MS P Gothic', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', 'Helvetica', 'Arial', 'Gothic', 'sans-serif';
	font-size: 10pt;
}

#akauntojyouhou_mongon{
	height: 100%;
	color:#ff691f;
	margin: 0 auto;
	line-height:100%;
	text-align: left;
	padding: 0 0 5px 0;
	font-family : 'ƒƒCƒŠƒI', 'Verdana', 'Helvetica', 'Arial', '‚l‚r ‚oƒSƒVƒbƒN', 'MS P Gothic', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', 'Helvetica', 'Arial', 'Gothic', 'sans-serif';
	font-size: 9pt;
}

#akauntojyouhou_mongon2{
	height: 100%;
	width: 658px;
	color:#333333;
	margin: 0 auto;
	line-height:150%;
	text-align: left;
	padding: 0 0 25px 0;
	font-family : 'ƒƒCƒŠƒI', 'Verdana', 'Helvetica', 'Arial', '‚l‚r ‚oƒSƒVƒbƒN', 'MS P Gothic', 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', 'Helvetica', 'Arial', 'Gothic', 'sans-serif';
	font-size: 9pt;
}

/*****
* text_ƒtƒHƒ“ƒgŒn
****************************/

a.link4:link {
	color: #0031FF
}
a.link4:visited {
	color: #0068FF;
	text-decoration: underline
}
a.link4:hover {
	color: #001D96;
	text-decoration: underline
}
a.link4:active {
	color: #0031FF;
}


/***** text_ƒtƒHƒ“ƒgŒn ‚±‚±‚Ü‚Å *****/


































