@charset "Shift_JIS";
/*_____________________________________

	SITE:	Macherie
	BUILD:	2007/4/11
	AUTHOR:	S.takaya
_______________________________________*/

span.big{
	font-size:10pt;
	color:#333333;
	padding:0;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
}

span.pointlink{
	font-size:12pt;
	padding:0;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
}

span.pointlink a{
color:#000000;
text-decoration:none;
}

span.pointlink a:hover{
color:#666666;
text-decoration: none;
}

span.maillink{
	font-size:12pt;
	padding:0;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
}

span.maillink a{
color:#000000;
text-decoration:none;
}

span.maillink a:hover{
color:#666666;
text-decoration: none;
}

span.mini{
	font-size:7pt;
	color:#333333;
	padding:0;
}

.id_ormail_and_pass{
	font-size:12pt;
	color:#333333;
	padding:0;
}


div#login table th.chatname{
	width:100%;
	text-align: left;
	padding: 7px 0 0px 3px;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
}

div#login table th.point{
	width:100%;
	text-align: left;
	padding: 2px 0px 4px 2px;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:10pt;
}

div#login table th.no_mail{
	width:100%;
	text-align: left;
	padding: 2px 0 4px 2px;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:10pt;
}

div#login table th.point_right{
	text-align: right;
	padding: 2px 5px 4px 0px;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size: 12px;
}

div#login table th.point_right a{
color:#000000;
text-decoration:none;
}

div#login table th.point_right a:hover{
color:#666666;
text-decoration: none;
}

div#login table th.no_mail_right{
	text-align: right;
	padding: 2px 5px 4px 0px;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size: 12px;
}

div#login table th.logout{
	width:96px;
	text-align: left;
	padding: 5px 0 5px 5px;
}

div#login table th.no_mail_right a{
color:#0078E5;
text-decoration:none;
}

div#login table th.no_mail_right a:hover{
color:#4DA3FF;
text-decoration: none;
}
