html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	font-size: 100%;
	font-family : 'ÉÅÉCÉäÉI', 'Verdana', 'Helvetica', 'Arial', 'ÇlÇr ÇoÉSÉVÉbÉN', 'MS P Gothic', 'ÉqÉâÉMÉmäpÉS Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', 'Helvetica', 'Arial', 'Gothic', 'sans-serif';
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}


/****
* êVãKñ≥óøìoò^
********************************/



#regist-hajimetenokatahe {
	width: 658px;
	text-align: left;
	margin: 10px 0 0 0;
	background-color: #ffffff;
	font-size: 12pt;
}

#regist-hajimetenokatahe span{
	font-size: 12pt;
	font-weight:bold;
}

.step1{
	width: 658px;
	text-align: center;
	margin:15px 0px 5px 0px;
}

#title_gazou{
	width: 658px;
	text-align: center;
	margin: 20px 0px 25px 0px;
}

#rakuten {
    position:relative;
	width:658px;
	height: 100%;
	margin-bottom: 70px;
}

#rakuten_login_left{
	width:300px;
	height: 100%;
	background-color:#ffffff;
	color:#FF691F;
    position:absolute;
	text-align: left;
	left: 0;
	top: 43px;
}

#rakuten_login_right{
	width: 270px;
	height: 58px;
	background-image: url(http://c.macherie.tv/c/m/images/renewimages/rakuten_haikei01.png);
	color:#000000;
	padding-top: 2px;
	margin: 0 auto;
    position:absolute;
	text-align: center;
	right: 0;
	top: 0px;
}

/*clear fix */

.clearfix:after { /*floatÇÃâèúÅAÇ±Ç±Ç™É|ÉCÉìÉg*/
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:".";
}
.clearfix {
	min-height: 1px; /*IE6ÅA7ëŒçÙ*/
}

* html .clearfix {
	height: 1px;
	/*\*//*/ /*MAC IE5.xëŒçÙ*/
	height: auto;
	overflow: hidden;
	/**/
}

#error_text{
	width: 658px;
	height: 100%;
	margin-top: 75px;
	text-align: left;
}

/*****
* table_board
****************************/

#regist-form-board-tbl {
	width: 658px;
	height: 100%;
	margin-top: 0px;
	background-image: url(http://c.macherie.tv/c/m/images/renewimages/haikei_top02.png);
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 5px;
}

#regist-form-board-tbl-mdl {
	background-image: url(http://c.macherie.tv/c/m/images/renewimages/renew_form_back_mid.jpg);
	background-repeat: repeat-y;
	margin: 0 auto;
	width: 658px;
	height: 100%;
}

#regist-form-board-tbl-btm {
	background-image: url(http://c.macherie.tv/c/m/images/renewimages/renew_form_back_bot.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	margin: 0;
	padding-bottom: 0px;
	width: 658px;
	height: 100%;
}

#table_board{
	width:648px;
	margin:0px 0px 5px 0px;
	border-style:none;
	height: 50px;
	background-image: url(http://c.macherie.tv/c/m/images/renewimages/renew_form_back_siro01.jpg);
}



#table_board {
	display:inline-block;
	vertical-align: middle;
	height: 50px;
}

#table_board_left{
	width:140px;
	background-color:#e5ded7;
	color:#80655e;
	float:left;
	vertical-align: middle;
	height: 50px;
}

#table_board_center{
	width:450px;
	float:left;
	background-color:#ffffff;
	vertical-align: middle;
	height: 50px;
}

#table_board_right{
	width:58px;
	color:#3d6e14;
	float:right;
	vertical-align: middle;
	height: 50px;
}

input.hoge {
	width: 410px;
	height: 27	px;
	padding: 5px;
	margin-top: 10px;
}

/***** table_board Ç±Ç±Ç‹Ç≈ *****/


/*****
*óòópãKñÒÉ{É^ÉìÅ@Ç±Ç±Ç©ÇÁ
****************************/

#vote_rank2 {
	width: 648px;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 10pt;
}

#vote_rank2 table{
	border-collapse: collapse;
	width: 284px;
	margin:0 auto;
	display: block;
}

/***** óòópãKñÒÉ{É^Éì Ç±Ç±Ç‹Ç≈ *****/


/*****
* óòópãKñÒì‡óe
****************************/

#kiyaku {
	width: 658px;
	height: 100%;
	margin-top: 10px;
	background-image: url(http://c.macherie.tv/c/m/images/renewimages/kiyaku_01.jpg);
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 5px;
}

#kiyaku iframe {
	width: 635px;
	margin: 5px auto 0 auto;
	border: 1px solid #323232;
	src : url(http://www.macherie.tv/agreement_renew.php);
	height : 250px;
	name : óòópãKñÒÅG

	scrolling : yesÅG

	frameborder : 1ÅG
	marginwidth : 5px;
	marginheight : 5px;
}

#kiyaku-mdl {
	background-image: url(http://c.macherie.tv/c/m/images/renewimages/kiyaku_02.jpg);
	background-repeat: repeat-y;
	margin: 0 auto;
	width: 658px;
	height: 100%;
}

#kiyaku-btm {
	background-image: url(http://c.macherie.tv/c/m/images/renewimages/kiyaku_03.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	margin: 0;
	padding-bottom: 0px;
	width: 658px;
	height: 100%;
}


#table_kiyaku{
	width:648px;
	margin:0px 0px 0px 0px;
	border-style:none;
	height: 100%;
	padding:0px 0px 0px 0px;

}

#table_kiyaku {
	display:inline-block;
	vertical-align: middle;
	height: 100%;
	padding:0px 5px 10px 12px;
}

#table_kiyaku_01{
	width:648px;
	color:#80655e;
	float:left;
	vertical-align: middle;
	height: 100%;
	margin: 0 auto;
	padding:0px 0px 0px 0px;
}

#table_kiyaku_02{
	width:648px;
	color:#3d6e14;
	float:left;
	vertical-align: middle;
	height: 100%;
	margin: 0 auto;	
	background-repeat: no-repeat;
	background-position: top;
	padding:0px 0px 0px 0px;
	vertical-align: left;
}


#regist-setsumei p {
	width: 648px;
	text-align: left;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 10pt;
	padding:0px 0px 0px 0px;
	height: 100%;
	color:#000000;
}

#verisign-setsumei p {
	width: 450px;
	color:#000000;
	float:left;
	text-align: left;
	margin-top: 0px;
	font-size: 10pt;
	padding:15px 0px 0px 0px;
	height: 100%;
}

#gazou-verisign {
	width: 160px;
	color:#000000;
	float:right;
	text-align: left;
	margin-top: 0px;
	font-size: 10pt;
	padding:13px 8px 0px 0px;
	height: 100%;
}







/*****
* text_ÉtÉHÉìÉgån
****************************/

a.link4:link {
	color: #0031FF
}
a.link4:visited {
	color: #0068FF;
	text-decoration: underline
}
a.link4:active {
	color: #0031FF;
}
a.link4:hover {
	color: #001D96;
	text-decoration: underline
}

/***** text_ÉtÉHÉìÉgån Ç±Ç±Ç‹Ç≈ *****/


































