@charset "utf-8";
/* CSS Document */
.bd_index .applisquare{
	margin-top:2.36rem;
}
.bd_index .applisquare iframe{
	margin:0.6rem;
	border:#CCC 0.2rem solid;
}
.bd_index .applisquare h2{
	color:#f25a42;
	font-size: 1.4rem;
	font-weight: bold;
	margin-top:2.6rem;
	padding: 1.3rem 0 1.3rem 0.9rem;
	border-top:solid 1px #CCC;
	border-bottom:solid 1px #CCC;
	background: url('../image/blog/bg.gif') repeat 0 0;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
}
.bd_index .applisquare h2:before{
	background: url('../image/icon/icon_present.jpg') no-repeat center center;
	display: inline-block;
	content: '';
	width: 2rem;
	height: 2rem;
	vertical-align: middle;
	margin-right: 0.4rem;
	margin-top: -0.5rem;
	background-size: contain;
}