/****************
* ƒ|ƒbƒvƒAƒbƒv ƒoƒ‰ƒGƒeƒB@•ÒW@‚±‚±‚©‚ç
********************************/

.popup-mysc_new_alert {
	padding: 0;
	background: url(/c/m/images/schedule_calendar/popup/alert_bg.png) no-repeat;
	width: 259px;
	height: 154px;
	position: absolute;
	display: none;
	z-index: 9999;
}

.popup-mysc_new_alert-title {
	cursor: move;
	width: 414px;
	height: 38px;
    position:relative;
}

.popup-mysc_new_alert-title_text {
    position:absolute;
	top: 12px;
	left: 67px;
	text-align: left;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:12pt;
}

.popup-mysc_new_alert-title_textarea_colon {
    position:absolute;
	top: 50px;
	left: 71px;
	text-align: left;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:9pt;
}

.popup-mysc_new_alert-title_textarea_time {
	width: 407px;
    position:absolute;
	top: 47px;
	left: 81px;
	text-align: left;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:9pt;
}

.popup-mysc_new_alert-title_comentarea_time {
	width: 217px;
	height:61px;
    position:absolute;
	top: 48px;
	left: 22px;
	text-align: left;
	font-family:'ƒƒCƒŠƒI',Meiryo,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:9pt;
}

.popup-mysc_new_alert-title_okbt {
    position:absolute;
	bottom: 15px;
	left: 17px;
	text-align: left;
}

.popup-mysc_new_alert-title_cancellbt {
    position:absolute;
	bottom: 15px;
	right: 17px;
	text-align: right;
}

input.mysc_new_alert {
	height: 20px;
	width: 400px;
	padding-left: 5px;










